In [2]:
"""Q 1: Modify the first item (22) of a list inside a following tuple to
222"""
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
print("New tuple is:",tuple1)

The modified tuple is: (11, [222, 33], 44, 55)

In [2]:
"""Q 2: Count the number of occurrences of item 50 from a tuple
"""
tuple1 = (50, 10, 60, 70, 50)
def countt(tup, x): 
    count = 0
    for ele in tup: 
        if (ele == x): 
            count = count + 1
    return count 
print("50 occur",countt(tuple1,50),"times")

50 occur 2 times

In [3]:
""" Q3:Write a Python program to convert a list to a tuple"""
list1 = [5, 10, 7, 4, 15, 3,23]

#using the tuple() 
tuple1 = tuple(list1)
print("The converted  tuple",tuple1)

The converted  tuple (5, 10, 7, 4, 15, 3, 23)

In [4]:
"""Q 4: Returns a new set with all items from both sets by removing
duplicates
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

"""
#union by user defined function

def union_fun(s1,s2):
    u=[]
    for i in s1:
        u.append(i)
    for i in s2:
        u.append(i)
    return set(u)

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}


set3=union_fun(set1,set2)

print("using user-defined function = ",set3)
#using build-in union()
print("using  union() = ",set1.union(set2))

using user-defined function =  {70, 40, 10, 50, 20, 60, 30}
using  union() =  {70, 40, 10, 50, 20, 60, 30}

In [5]:
"""
Q5: Merge following two Python dictionaries into one

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
"""
#funtion to merge two dictionaries
def merged(dict1,dict2):
    for key,value in dict2.items():
        dict1[key]=value
    return dict1

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict3=merged(dict1,dict2)

print("The merged list is ",dict3)

The merged list is  {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [6]:
"""
Q6: Given a Python dictionary, Change Bradâ€™s salary to 8500

sampleDict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 6500}
}
Expected output:
sampleDict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 8500}
}
"""
#########################################


sampleDict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 6500}
}

sampleDict['emp3']['salary']=8500
print(" updated")
sampleDict

 updated

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [8]:
"""
Q7: Rename key city to location in the following dictionary

sampleDict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}

Expected output:
{
"name": "Kelly",
"age":25,
"salary": 8000,
"location": "New york"
}

"""

def change_key(dict1,old_key,new_key):
    try:
        val=dict1[old_key]
    except:
        print("Given key is not found in the dictionary")
        return 0
    dict1.pop(old_key)
    dict1[new_key]=val
    return dict1
    
    
sampleDict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}

new_dict=change_key(sampleDict,"city","location")
print(" new city:",new_dict)

 new city: {'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}